# PHP storm
/.idea

*.*
*.sql
*.sqlite
/logs/

# Note: if you want to stage/commit WP core files, you can delete this whole section/until Configuration.
/wp-admin/
/wp-includes/
/wp-*.php
/xmlrpc.php
/.htaccess

# Wp Content
!wp-content/**
wp-content/*
/wp-content/uploads/
/wp-content/languages

# Themes
!wp-content/themes/
/wp-content/themes/twenty*/
/wp-content/themes/index.php

