#footer {
    border-top: 1px solid #ABE1FA;
}

nav#footer-menu {
    margin-left: -8px;
}

#footer .menu .ct-menu-link {
    text-transform: initial;
    padding-left: 20px;
    padding-right: 20px;
}

#footer .footer-links {
    display: flex;
    flex-wrap: wrap;
}

#footer .footer-links > a {
    margin-right: 20px;
}

@media only screen and (max-width: 689px) {
    .ct-footer [data-id="menu"] ul {
        display: flex;
        max-width: 300px;
    }
    
    .ct-footer [data-id="menu"] ul li.menu-item {
        width: auto;
    }
}

@media screen and (min-width: 690px ) {
    .ct-footer [data-row*="middle"] > div {
        padding-top: 45px !important;
        padding-bottom: 30px !important;
    }
    
    .ct-footer [data-id="menu"] ul {
        row-gap: 20px;
    }
    
    .ct-footer-copyright[data-id=copyright] {
        font-weight: 400;
    }
    
    #footer .footer-links {
        align-items: center;
    }
}


/* Newsletter Form */
.ft_newsletter {
    max-width: 290px;
}

.ft_newsletter .newsletter_heading {
    font-weight: bold !important;
    font-size: 14px !important;
    margin-bottom: 13px;
}

.ft_newsletter .ct-block-wrapper {
    margin-bottom: 15px;
}

.ft_newsletter ._check {
    margin-top: 0;
    position: relative;
    padding-left: 20px;
    line-height: 1;
}

.ft_newsletter ._check #newsletter-checkbox {
    position: absolute;
    top: 4px;
    left: 0;
}

.ft_newsletter ._check label {
    margin-bottom: 0;
    color: #000 !important;
}

.ft_newsletter ._check a {
    color: #000 !important;
    text-decoration: none;
}

.ct-newsletter-subscribe-form {
    position: relative;
}

.ct-newsletter-subscribe-block .ct-newsletter-subscribe-form input[type="email"] {
    padding-right: 60px;
    width: 100%;
}

.ct-newsletter-subscribe-block .ct-newsletter-subscribe-form .wp-element-button {
    position: absolute;
    width: 42px;
    height: 23px;
    min-height: 23px;
    top: 9px;
    right: 12px;
    border-radius: 10px;
    line-height: 0;
    padding: 0;
    border: 1px solid #37A7F4;
    font-size: 0;
    background-color: #37A7F4 !important;
}

.ct-newsletter-subscribe-form .wp-element-button:before {
    content: "";
    display: inline-flex;
    width: 24px;
    height: 20px;
    background-image: url(../images/arrow.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 9999;
    filter: unset !important;
    opacity: 1 !important;
    inset: auto;
}

@media only screen and (min-width: 690px) {
    .ct-newsletter-subscribe-form[data-columns="2"] {
        gap: 0;
    }
    
    #footer [data-row="middle"] .ct-container > [data-column="content-block"] {
        align-items: end;
    }
    
    .ft_newsletter .ct-block-wrapper > p.s18 {
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 1000px) {
    .ft_newsletter .newsletter_heading {
        font-size: 18px !important;
    }
    
    .ft_newsletter .ct-block-wrapper {
        margin-bottom: 12px;
    }
    
}