[class*=ct-toggle-close]:hover {
    --toggle-icon-transform: none !important;
}

nav[class*=menu] li:hover > .ct-menu-link svg,
nav[class*=menu] li:hover > .ct-sub-menu-parent svg,
nav[class*=menu] li[class*=current-menu-] > .ct-menu-link svg,
nav[class*=menu] li[class*=current-menu-] > .ct-sub-menu-parent svg {
    fill: none !important;
}


nav[class*=menu] li:hover > .ct-menu-link svg path,
nav[class*=menu] li:hover > .ct-sub-menu-parent svg path,
nav[class*=menu] li[class*=current-menu-] > .ct-menu-link svg path,
nav[class*=menu] li[class*=current-menu-] > .ct-sub-menu-parent svg path {
    fill: var(--theme-icon-hover-color, var(--theme-link-hover-color)) !important;
}

@media only screen and (max-width: 999px) {
    .ct-panel .ct-panel-actions {
        padding-top: 27px;
        padding-right: 23px;
        padding-left: 23px;
    }
    
    .ct-panel .ct-panel-content-inner {
        padding: 0 10px;
        margin: 0;
        overflow-y: hidden;
    }
    
    .ct-panel .mobile-menu .ct-sub-menu-parent {
        column-gap: 0;
    }
    
    .ct-panel .ct-menu-link:not(:empty) {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .ct-header .mobile-menu a {
        font-weight: 500 !important;
    }
    
    .ct-header .mobile-menu .sub-menu .sub-menu a {
        font-weight: 400 !important;
    }
    
    .ct-panel .sub-menu .ct-toggle-dropdown-mobile {
        display: none;
    }
    
    .ct-panel .sub-menu .sub-menu {
        display: block !important;
        padding-bottom: 10px;
        margin-top: -5px;
    }
    
    .ct-panel .sub-menu .sub-menu .ct-menu-link {
        font-weight: 400;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media only screen and (min-width: 1000px) {
    body #header [data-column-set="2"] > div {
        grid-template-columns: 180px auto;
    }
    
    body #header [data-column=start] [data-items=primary] > *:first-child {
        --margin: 0 0 0 0;
    }
    
    body #header [data-column=end] [data-items=primary] > *:last-child {
        --margin: 0;
    }
    
    .ct-header .menu li.menu-item-home {
        display: none;
    }
    
    nav[class*=menu] li:hover > .ct-menu-link svg path,
    nav[class*=menu] li:hover > .ct-sub-menu-parent svg path,
    nav[class*=menu] li[class*=current-menu-] > .ct-menu-link svg path,
    nav[class*=menu] li[class*=current-menu-] > .ct-sub-menu-parent svg path {
        fill: transparent !important
    }
    
    .ct-header [data-device="desktop"] .ct-container-fluid {
        width: 100%;
        padding: 0 10px;
        max-width: 100%;
    }
    
    .ct-header .menu > li > .ct-menu-link {
        --menu-item-padding: 0 15px;
    }
    
    .ct-header .menu {
        column-gap: 0;
        justify-content: center !important;
    }
    
    .ct-header .menu > li > ul.sub-menu {
        padding: 30px 43px;
        min-width: 212px;
        max-width: 300px;
        width: auto;
        max-height: 700px;
        box-shadow: 3px 4px 10px 0 #0000001A;
    }
    
    .ct-header .menu .sub-menu .sub-menu {
        position: relative;
        left: 0;
        padding-bottom: 20px;
        display: block;
        visibility: visible;
        opacity: 1;
        background-color: transparent;
        transform: none;
        transition: none;
    }
    
    .ct-header .menu > li > ul.sub-menu > li > a {
        font-weight: 600 !important;
    }
    
    .ct-header .menu .sub-menu .sub-menu a {
        font-weight: 400 !important;
    }
    
    .ct-header .menu > li > ul.sub-menu > li:last-child .sub-menu {
        padding-bottom: 0;
    }
    
    .ct-header .menu > li > ul.sub-menu .ct-toggle-dropdown-desktop,
    .ct-header .menu > li > ul.sub-menu .ct-toggle-dropdown-desktop-ghost {
        display: none !important;
    }
    
    .ct-header .menu > li > ul.sub-menu .ct-menu-link {
        padding: 5px 0;
    }
    
    .ct-header .menu > li > ul.sub-menu li {
        flex-wrap: wrap;
    }
    
    .ct-header .menu > li > ul.sub-menu .sub-menu .ct-menu-link {
        font-weight: 400;
    }
    
}

/* Login button */
.loginButton {
    position: relative;
    min-width: 116px;
    height: 40px;
    line-height: 40px;
    border-radius: 12px;
    border: 1px solid #37A7F4;
    margin: 0 !important;
    text-align: center;
}

.loginButton ._desktop {
    display: none;
}

#header [data-column=end] .ct-header-content-block > .entry-content > p[data-block-type="core"] {
    display: none;
    margin: 0;
}


.loginButton a {
    font-weight: 500;
    letter-spacing: 0.01em;
    color: #37A7F4 !important;
    text-decoration: none !important;
    box-shadow: none;
}

.loginButton ._inner {
    line-height: 40px !important;
    display: flex;
    align-items: center;
    padding: 8px;
    height: 40px;
    justify-content: space-around;
}

.loginButton ._inner > span {
    display: inline-flex;
}

.loginButton ._name {
    margin: 0 10px;
    font-size: 14px;
}

.loginButton ._accountDropMenu {
    position: absolute;
    top: -135px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 176px;
    background: #fff;
    padding: 15px 0;
    box-shadow: 1px 1px 1px 1px #eee;
}

.loginButton ._accountDropMenu a {
    text-align: left;
    color: #252525 !important;
    padding: 15px 40px;
    line-height: 1;
    white-space: nowrap;
}

@media only screen and (min-width: 1000px) {
    .loginButton {
        display: block;
        margin-left: 5px;
        min-width: 132px;
    }
    
    .loginButton ._desktop {
        display: block;
    }
    
    .loginButton ._mobile {
        display: none;
    }
    
    .loginButton ._ico_arrow path {
        stroke: #fff;
    }
    
    .loginButton a {
        font-weight: 500;
        font-size: 16px;
        padding: 6px 22px;
        color: #fff !important;
        border: 1px solid #fff;
        border-radius: 12px;
    }
    
    .loginButton > a:hover {
        background: #ffffff;
        color: #37A7F4 !important;
    }
    
    .loginButton > a:hover ._ico_arrow path {
        stroke: #37A7F4;
    }
    
    .loginButton > a:hover ._ico_avatar ._mobile {
        display: block;
    }
    
    .loginButton > a:hover ._ico_avatar ._desktop {
        display: none;
    }
    
    .loginButton ._accountDropMenu a:hover {
        color: #00c0f3 !important;
    }
    
    .loginButton ._name {
        white-space: nowrap;
        width: 51px;
        overflow: hidden;
    }
    
    .loginButton ._accountDropMenu {
        top: auto;
        bottom: -151px;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1339px) {
    .ct-header .menu > li > .ct-menu-link {
        --menu-item-padding: 0 10px;
        font-size: 16px;
    }
}

@media only screen and (min-width: 1040px) {
    .loginButton {
        margin-left: 20px;
    }
}

@media only screen and (min-width: 1100px) {
    .ct-header [data-device="desktop"] .ct-container-fluid {
        padding: 0 20px;
    }
    
    .ct-header .menu > li > .ct-menu-link {
        --menu-item-padding: 0 20px;
    }
}

@media only screen and (min-width: 1201px) {
    .ct-header [data-device="desktop"] .ct-container-fluid {
        padding: 0 30px;
    }
    
    .ct-header .menu > li > .ct-menu-link {
        --menu-item-padding: 0 25px;
    }
}

@media only screen and (min-width: 1340px) {
    .ct-header [data-device="desktop"] .ct-container-fluid {
        padding: 0;
        max-width: 1280px;
    }
    
}