.hidden {
    display: none !important;
}

.l-fullwidth {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.white-button > a {
    background-color: #fff !important;
    color: #37A7F4 !important;
    border-color: #fff !important;
    padding-left: 50px;
    padding-right: 50px;
}

.l-w1024 {
    max-width: 1024px !important;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.l-w1000 {
    max-width: 1000px !important;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.maxWidth700 {
    max-width: 700px !important;
}

.maxWidth750 {
    max-width: 750px !important;
}

/* Spacing */
:is(.entry-content,.is-layout-flow,.is-layout-constrained) > *:where(.alignfull) {
    margin-bottom: 0 !important;
}