/* ============ Category slider */
.plp-category_section {
    margin-left: 20px !important;
    margin-right: 0 !important;
    max-width: 100% !important;
    width: 100% !important;
    margin-bottom: 0 !important;
}

.plp-category_section ._categoryHeading {
    margin-bottom: 30px;
}

.plp-category_slick .slick-track {
    display: flex;
}

.category_slick-item {
    width: 320px;
    max-width: 320px;
    height: inherit;
    margin-right: 30px;
    background-color: #F4F7F9;
    border-radius: 30px;
}

.category_slick-item:nth-child(even) {
    background-color: #F9FAFA;
}

.category_slick-item ._itemInner {
    padding: 26px 31px 31px;
}

.category_slick-item ._image {
    position: relative;
    width: 183px;
    padding-bottom: 251px;
    margin: 0 auto;
}

.category_slick-item ._image > img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.category_slick-item ._tit {
    font-weight: 500 !important;
    letter-spacing: 0.01em !important;
    margin-bottom: 5px;
}

.category_slick-item ._tag {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
}

.category_slick-item .button {
    letter-spacing: 0.02em;
    white-space: nowrap;
}

@media only screen and (min-width: 690px) {
    .plp-category_section {
        margin-left: 40px !important;
    }
    
    .plp-category_section ._categoryHeading {
        margin-bottom: 50px;
    }
    
    .category_slick-item {
        width: 445px;
        max-width: 445px;
        margin-right: 50px;
    }
    
    .category_slick-item ._itemInner {
        padding: 38px 40px 40px;
    }
    
    .category_slick-item ._image {
        width: 251px;
        padding-bottom: 344px;
        margin-bottom: 43px;
    }
    
    .category_slick-item ._tit {
        margin-bottom: 10px;
        font-size: 46px !important;
        line-height: 50px !important;
        letter-spacing: normal !important;
    }
    
    .category_slick-item ._tag {
        margin-bottom: 30px;
    }
    
    .category_slick-item .button {
        min-height: 44px;
        height: 44px;
        line-height: 44px;
        letter-spacing: 0.01em;
        font-weight: 500;
    }
}

@media only screen and (min-width: 1000px) {
    .plp-category_section ._categoryHeading {
        padding-right: 230px;
    }
}

@media only screen and (min-width: 1441px) {
    .category_slick-item {
        width: calc(33.3333vw - 40px);
        max-width: calc(33.3333vw - 40px);
    }
}

/* =========== PLP Bottom - Need Help - Become a partners */
.plp-contact_us {
    padding: 0 20px !important;
    row-gap: 0;
}

.plp-contact_us > .gspb_container {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    padding-left: 31px;
    padding-right: 31px;
}

.plp-contact_us > .gspb_container .wp-block-group .gspb_container {
    margin: 0 !important;
}

.plp-contact_us > .gspb_container .stk-block-image {
    z-index: 0;
}

.plp-contact_us > .gspb_container .stk-block-heading {
    margin-bottom: 14px;
    max-width: 320px;
}

.plp-contact_us > .gspb_container .stk-block-text {
    margin-bottom: 30px;
    letter-spacing: 0.01em;
}

.plp-contact_us > .gspb_container:last-child .stk-block-text {
    margin-bottom: 23px;
}

.plp-contact_us > .gspb_container .stk-button,
.plp-contact_us > .gspb_container button {
    letter-spacing: 0.02em !important;
    font-weight: 600 !important;
    margin-left: 0;
}

/* First */
.plp-contact_us > .gspb_container:first-child {
    padding-top: 190px;
    padding-bottom: 33px;
    margin-bottom: 30px;
    background: linear-gradient(164.35deg, #37A7F4 2.22%, #4E1EA3 89.06%) !important;
}

.plp-contact_us > .gspb_container:first-child .stk-block-image {
    position: absolute;
    top: 0 !important;
    right: 0 !important;
    width: 205px;
    height: auto;
    max-height: 190px;
}

.plp-contact_us > .gspb_container:first-child .stk-block-image img {
    width: 80% !important;
    height: auto !important;
    margin: 6px 10px auto auto !important;
}

.plp-contact_us > .gspb_container .stk-block-text {
    max-width: 290px !important;
}

/* Last */
.plp-contact_us > .gspb_container:last-child {
    padding-top: 174px;
    padding-bottom: 36px;
}

.plp-contact_us > .gspb_container:last-child {
    border: 1px solid #37A7F4;
}

.plp-contact_us > .gspb_container:last-child .stk-block-image {
    position: absolute;
    top: 0 !important;
    right: 0 !important;
    height: auto;
    width: 222px;
    max-height: 190px;
}

.plp-contact_us > .gspb_container:last-child .stk-block-image img {
    width: 100% !important;
    height: auto !important;
    margin: -18px -22px auto auto !important;
}

@media only screen and (min-width: 800px)  and (max-width: 1199px) {
    .plp-contact_us {
        padding: 0 40px !important;
        display: flex !important;
        position: relative;
        align-items: stretch !important;
        flex-direction: row !important;
        justify-content: space-between;
        flex-wrap: nowrap !important;
        height: 505px;
    }
    
    .plp-contact_us > .gspb_container {
        position: relative;
        display: flex;
        flex-basis: calc(50vw - 54px);
        width: 0 !important;
        height: inherit;
        margin: 0 !important;
        overflow: hidden;
    }
    
    .plp-contact_us > .gspb_container .wp-block-group .gspb_container {
        position: absolute;
        bottom: 30px;
        left: 30px;
    }
}

@media only screen and (min-width: 1200px) {
    .plp-contact_us {
        padding: 0 40px !important;
        display: flex !important;
        position: relative;
        align-items: stretch !important;
        flex-direction: row !important;
        height: 446px;
        justify-content: space-between;
        flex-wrap: nowrap !important;
    }
    
    .plp-contact_us > .gspb_container {
        position: relative;
        display: flex;
        flex-basis: calc(50vw - 54px);
        width: 0 !important;
        height: inherit;
        margin: 0 !important;
        overflow: hidden;
    }
    
    /* */
    .plp-contact_us > .gspb_container:last-child,
    .plp-contact_us > .gspb_container:first-child {
        padding-top: 0;
    }
    
    .plp-contact_us > .gspb_container .wp-block-group .gspb_container {
        position: absolute;
        bottom: 0;
        left: 0;
        top: auto;
        padding-bottom: 30px !important;
        padding-left: 30px !important;
        max-width: 378px !important;
    }
    
    .plp-contact_us > .gspb_container:last-child .stk-block-heading,
    .plp-contact_us > .gspb_container:first-child .stk-block-heading {
        margin-bottom: 14px;
    }
    
    .plp-contact_us > .gspb_container .stk-block-heading {
        max-width: 280px;
    }
    
    .plp-contact_us > .gspb_container .stk-block-text {
        max-width: 100% !important;
    }
    
    /* first */
    .plp-contact_us > .gspb_container:first-child .stk-block-image {
        position: absolute;
        width: 230px;
        height: auto;
        top: auto !important;
        left: auto !important;
        bottom: 0 !important;
        right: 0 !important;
        max-height: max-content;
    }
    
    .plp-contact_us > .gspb_container:first-child .stk-block-image img {
        width: 216px !important;
        height: auto !important;
        margin: auto 10px -23px auto !important;
    }
    
    /* last */
    .plp-contact_us > .gspb_container:last-child .stk-block-text {
        max-width: 322px !important;
    }
    
    .plp-contact_us > .gspb_container:last-child .stk-block-image {
        position: absolute;
        width: 225px;
        height: auto;
        max-height: max-content;
        top: auto !important;
        left: auto !important;
        bottom: 0 !important;
        right: 0 !important;
    }
    
    .plp-contact_us > .gspb_container:last-child .stk-block-image img {
        width: 256px !important;
        height: auto !important;
        margin-top: auto !important;
        margin-left: auto !important;
        margin-right: -30px !important;
        margin-bottom: -48px !important;
        max-width: 150%;
    }
    
}

@media only screen and (min-width: 1440px) {
    .plp-contact_us > .gspb_container .wp-block-group .gspb_container {
        padding-bottom: 47px !important;
        padding-left: 48px !important;
        max-width: 378px !important;
    }
    
    /* first */
    .plp-contact_us > .gspb_container:first-child .stk-block-image {
        width: 250px;
    }
    
    .plp-contact_us > .gspb_container:first-child .stk-block-image img {
        width: 230px !important;
        margin-right: 13px !important;
        margin-bottom: -25px !important;
        max-width: 150%;
    }
    
    /* last */
    .plp-contact_us > .gspb_container:last-child .stk-block-image {
        width: 290px;
    }
    
    .plp-contact_us > .gspb_container:last-child .stk-block-image img {
        width: 327px !important;
        margin-right: 0 !important;
        margin-bottom: -59px !important;
    }
}