.mp_wrapper .mp-form-row {
    margin-bottom: 0;
}

.mp_wrapper textarea, .mp_wrapper select, .mp_wrapper input[type=text],
.mp_wrapper input[type=url], .mp_wrapper input[type=email],
.mp_wrapper input[type=tel], .mp_wrapper input[type=number], .mp_wrapper input[type=password] {
    height: 50px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.mp_wrapper input[type=submit] {
    height: 40px;
    border-radius: 20px;
    width: 100%;
}

.mepr-form input.invalid, .mepr-form select.invalid,
.mepr-form textarea.invalid, .mepr-form label.mepr-checkbox-field.invalid,
.mepr-form div.mepr-checkboxes-field.invalid, .mepr-form div.mepr-radios-field.invalid {
    border: 1px solid red !important;
}