/* Hero section */
.home-hero .wp-block-cover__inner-container > .wp-block-group > * {
    max-width: 680px;
}

.home-hero .wp-block-cover__inner-container > .wp-block-group .wp-block-heading.fw300 {
    font-weight: 300 !important;
}


/* Video section */
@media only screen and (min-width: 1000px) {
    .homeSectionVideo > .wp-block-heading {
        margin-bottom: 30px !important;
    }
    
    .homeSectionVideo > p {
        margin-bottom: 50px;
    }
}

/* Redefining life section */
.home-redefining-life .s70 {
    font-size: 50px !important;
    font-weight: 600 !important;
    line-height: 1.08 !important;
}

@media only screen and (max-width: 999px) {
    .home-redefining-wrap .s70 {
        text-align: center !important;
    }
}

@media only screen and (min-width: 690px) {
    .home-redefining-life .s70 {
        font-size: 63px !important;
    }
    
    .home-redefining-life ._p {
        max-width: 600px;
        margin: 0 auto;
    }

    .home-redefining-wrap {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .home-redefining-wrap .stk-row.stk-inner-blocks > .stk-column:last-child {
        padding-left: 30px;
    }
}

@media only screen and (min-width: 1000px) {
    .home-redefining-life .s70 {
        font-size: 70px !important;
    }
}

@media only screen and (min-width: 1130px) {
    .home-redefining-wrap {
        padding-left: 0;
        padding-right: 0;
    }
    
    .home-redefining-wrap .stk-row.stk-inner-blocks > .stk-column:last-child {
        padding-left: 50px;
        max-width: 350px;
    }
}


/* Home - success stories */

.storySliderWrap .stk-block-carousel__slider .stk-inner-blocks {
    padding: 15px;
}
.storySliderWrap .stk-block-carousel__slider .wp-block-cover {
    box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.15);
}

.stk-block-carousel__dot {
    margin-inline: max(0px,(24px - var(--dot-size)) / 2) !important;
    width: var(--dot-active-width, 30px) !important;
}

.stk-block-carousel__dot:before {
    height: var(--dot-active-height);
    width: var(--dot-active-width, 30px);
}

.stk-block-carousel__dot:hover:before {
    background: #37a7f4;
}

.stk-block-carousel__dot.stk-block-carousel__dot--active:before {
    background: #37a7f4;
    height: var(--dot-active-height);
    width: var(--dot-active-width, 30px);
}

@media only screen and (max-width: 999px) {
    .stk-block-carousel__dot,
    .stk-block-carousel__dot.stk-block-carousel__dot--active {
        margin-inline: 7px !important;
        width: 10px !important;
    }
    
    .stk-block-carousel__dot:before,
    .stk-block-carousel__dot.stk-block-carousel__dot--active:before {
        height: 10px !important;
        width: 10px !important;
    }
}

@media only screen and (max-width: 689px) {


}

/* Home Product Slider */



/* Accordion section */
.journey-group ._stepImg {
    display: none;
}

.journey-accordion {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.journey-accordion .stk-block-heading__text > span:first-child {
    margin-right: 60px;
}

.journey-group > .wp-block-buttons {
    margin-top: 0;
}

@media only screen and (max-width: 999px) {
    .journey-accordion .stk-block-heading__text br {
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
    .journey-group {
        max-width: 860px !important;
    }
    
    .journey-group > .wp-block-stackable-heading {
        padding: 0 40px;
    }
    
    .journey-group > p {
        padding: 0 90px;
        
    }
    
    .journey-group ._stepImg {
        display: block;
    }
    
    .journey-accordion {
        display: none;
    }
    
    .journey-group-desktop .wp-block-group > p:first-child {
        font-weight: 500 !important;
    }
    
}


/* home-GetYourQuote */
.home-GetYourQuote-wrap .wp-block-cover {
    min-height: 500px;
}

.home-GetYourQuote-wrap .l-fullwidth .wp-block-cover__inner-container {
    width: 100% !important;
}

.home-GetYourQuote-wrap ._w560 {
    max-width: 560px !important;
}