/* START - Fix bug delay css */
/*body.page-account main {*/
/*    visibility: hidden !important;*/
/*}*/
/*body.page-account[action] main {*/
/*    visibility: visible !important;*/
/*}*/
/* END - Fix bug delay css */

/* DEFAULT PAGE */
body.page-account .mepr-account-container body,
body.page-account .mepr-account-container button,
body.page-account .mepr-account-container input,
body.page-account .mepr-account-container select,
body.page-account .mepr-account-container optgroup,
body.page-account .mepr-account-container textarea,
body.page-account .mepr-white-popup .mepr-btn {
    font-family: ct_font_proxima__nova, Sans-Serif;
}

body.page-account .mepr-account-container table tr {
    border-bottom: none;
    margin-bottom: 0;
}

.mepr-account-container table td:before {
    display: none;
}

.mepr-account-container table tr {
    display: table-row;
}

.mepr-account-container table td {
    display: table-cell;
}

.mepr-account-container table td div {
    margin-left: 0;
}

.mepr-account-container a {
    color: #252525;
}

.mepr-account-container input[type="submit"] {
    min-width: 180px;
    width: auto;
    height: 40px;
    border-radius: 10px;
    background-color: #37A7F4;
    border: 1px solid #37A7F4 !important;
    color: #fff;
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.02em;
    text-align: center;
    padding: 0;
    margin-bottom: 20px;
}

@media only screen and (min-width: 1000px) {
    .mepr-account-container input[type="submit"] {
        height: 36px;
        line-height: 36px;
        font-size: 14px;
    }
}

/* END - DEFAULT PAGE */


/* My Account */
body.page-account article.page .mp_wrapper.wp-shortcode {
    max-width: 100%;
    width: 100%;
}

.mepr-account-container {
    display: block;
    padding-top: 60px;
    padding-left: 16px;
    padding-right: 16px;
}

#mepr-account-nav .mepr-nav-item a:before {
    display: none;
}

#mepr-account-nav .mepr-nav-item a {
    color: #252525 !important;
    font-weight: 600 !important;
    letter-spacing: 0.01em !important;
}

body[action="0"] .mpAccount-BackButton {
    display: none;
}

body.page-account[action] .mpAccount-BackButton {
    visibility: visible !important;
}

.mpAccount-BackButton {
    margin-bottom: 50px;
}

.mepr-account-container .mpAccount-BackButton a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #252525;
    display: inline-flex;
    align-items: center;
}

.mpAccount-BackButton a:before {
    content: '';
    width: 26px;
    height: 17px;
    display: block;
    margin-right: 10px;
    background-image: url("../images/arrow-left-black.svg");
    background-repeat: no-repeat;
    background-position: left;
}

#mepr-account-content {
    padding: 0;
}

h1.mepr_page_header {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.01em;
    font-weight: 600;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
    margin: 0;
}

.mepr-account-welcome-message {
    display: none;
}

.mepr-profile-wrapper > div {
    border: none;
    padding: 0;
}

#mepr-account-content .mepr-rl-footer-widgets {
    border: none
}

.mepr-account-container .mepr-button.btn-outline {
    color: #252525;
    border: 1px solid #37A7F4;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.02em;
    height: 30px;
    padding: 0 18px;
}

#mepr-profile-details .mepr-profile-details__list ._group > div {
    display: none;
    font-weight: 400;
    letter-spacing: 0.01em;
}

#mepr-profile-details .mepr-profile-details__list dt {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #252525;
    display: flex;
    justify-content: space-between;
}

#mepr-profile-details .mepr-profile-details__list dt ._heading:after {
    content: ':';
}

#mepr-profile-details .mepr-profile-details__list .mepr-profile-details__content {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
}

#mepr-profile-details .mepr-profile-details__list .mepr-profile-details__button {
    padding: 0 25px 0 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

#mepr-profile-details .mepr-profile-details__list .mepr-profile-details__button svg {
    display: none;
}

#mepr-profile-details .mepr-profile-details__list .mepr-profile-details__button:before {
    content: 'Edit';
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #252525;
    border-bottom: 1px solid;
}

.mepr-profile-wrapper__footer {
    border-top: none;
    padding-top: 0;
}

@media only screen and (max-width: 999px) {
    body[action="0"] #mepr-account-nav {
        display: block !important;
    }
    
    body[action='0'] #mepr-account-content {
        display: none;
    }
    
    #mepr-account-nav {
        background: #fff !important;
        display: none !important;
    }
    
    #mepr-account-nav .mepr-nav-item a {
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;
        padding: 20px 0;
    }
    
    #mepr-account-nav .mepr-nav-item.--active a,
    #mepr-account-nav .mepr-nav-item.mepr-active-nav-tab a {
        background: #fff;
        color: #252525;
        font-weight: 600;
    }
    
    #mepr-account-nav .mepr-nav-item a:after {
        content: '';
        width: 26px;
        height: 17px;
        background-image: url("../images/arrow-right-black.svg");
        background-repeat: no-repeat;
        background-position: right;
    }
    
    .mepr-account-message,
    #mepr-profile-details {
        width: 100%;
    }
}

@media only screen and (min-width: 1000px) {
    .mepr-account-container {
        display: grid;
        grid-template-columns: 340px auto;
        padding-left: 0;
        padding-right: 30px;
        gap: 30px;
    }
    
    #mepr-account-nav {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        background: #fcfcfc !important;
        padding-top: 90px;
        padding-left: 24px;
    }
    
    .mpAccount-BackButton {
        display: none !important;
    }
    
    .mepr-account-container {
        padding-top: 0;
    }
    
    .mepr-account-message,
    #mepr-profile-details {
        width: 100%;
    }
    
    
    #mepr-account-nav .mepr-nav-item {
        margin-bottom: 36px;
        min-width: 120px;
    }
    
    #mepr-account-nav .mepr-nav-item a {
        display: inline;
        background: transparent !important;
        font-size: 18px;
        line-height: 24px;
        padding: 0;
    }
    
    #mepr-account-nav .mepr-nav-item.--active a,
    #mepr-account-nav .mepr-nav-item.mepr-active-nav-tab a {
        border-bottom: 2px solid;
    }
    
    .mepr-account-container .mepr-button.btn-outline {
        padding: 0 23px;
        margin-top: 4px;
    }
    
    #mepr-account-content {
        padding-top: 97px;
        max-width: 741px;
    }
    
    body[action="home"] #mepr-account-content {
        max-width: 701px;
    }
    
    h1.mepr_page_header {
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.01em;
        font-weight: 600;
        padding-bottom: 13px;
    }
    
    #mepr-profile-details .mepr-profile-details__list dt {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 25px;
    }
    
    #mepr-profile-details .mepr-profile-details__list dt:first-child {
        margin-top: 15px;
    }
    
    #mepr-profile-details .mepr-profile-details__list .mepr-profile-details__content {
        display: none;
    }
    
    #mepr-profile-details .mepr-profile-details__list ._group > div {
        display: block;
    }
    
    #mepr-profile-details .mepr-profile-details__list ._group {
        display: flex;
    }
    
    #mepr-profile-details .mepr-profile-details__list ._group > ._heading {
        min-width: 130px;
    }
    
    #mepr-profile-details .mepr-profile-details__list .mepr-profile-details__button {
        padding: 0 5px 0 0;
    }
    
    .mepr-profile-wrapper__footer {
        padding-top: 0;
    }
}

@media only screen and (min-width: 1200px) {
    .mepr-account-container {
        gap: 66px;
    }
}

/* layout */
@media only screen and (min-width: 1439px) {
    .mepr-account-container {
        grid-template-columns: calc(50vw - 640px + 160px + 128px) auto;
        gap: 0;
    }
    
    #mepr-account-nav {
        padding-left: calc(100% - 385px);
    }
    
    #mepr-account-content {
        max-width: 810px;
        padding-left: 66px;
    }
}


/* Payment */
body[action="payments"] h1.mepr_page_header {
    border: none;
}

#mepr-account-payments-table {
    border: none;
    table-layout: auto;
    width: 100%;
}

#mepr-account-payments-table thead {
    display: table-header-group !important;
}

#mepr-account-payments-table td:before {
    display: none;
}

#mepr-account-payments-table th {
    padding: 10px 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    border: none;
    color: #252525;
}

#mepr-account-payments-table td {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    border: none;
    color: #252525;
    padding: 0 10px 0 0;
}

#mepr-account-payments-table tbody tr td > h4 {
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    margin: 0 0 10px;
    color: #252525;
}

#mepr-account-payments-table tbody ._showOnMobile {
    margin: 12px 0 0;
}

#mepr-account-payments-table tbody ._showOnMobile p:not(:last-child) {
    margin-bottom: 12px;
}


#mepr-account-payments-table tbody ._showOnMobile > p:last-child {
    margin-bottom: 0;
}

#mepr-account-payments-table tbody tr > td.th_td-invoice a:hover {
    color: #37a7f4;
}

@media only screen and (max-width: 999px) {
    #mepr-account-payments-table thead,
    #mepr-account-payments-table .th_td-date,
    #mepr-account-payments-table .th_td-amount {
        display: none !important;
    }
    
    #mepr-account-payments-table tbody tr {
        border-top: 1px solid #ddd;
        border-bottom: none;
    }
    
    #mepr-account-payments-table tbody tr td {
        padding: 20px 10px 20px 0;
    }
    
    #mepr-account-payments-table tbody tr > td:first-child {
        width: 100%;
    }
    
}

@media only screen and (min-width: 1000px) {
    #mepr-account-payments-table {
        max-width: 701px;
    }
    
    #mepr-account-payments-table th,
    #mepr-account-payments-table td {
        font-size: 14px;
        line-height: 16px;
    }
    
    #mepr-account-payments-table thead th {
        padding: 8px 0 20px;
    }
    
    #mepr-account-payments-table tbody tr td > h4 {
        display: none;
    }
    
    #mepr-account-payments-table ._showOnMobile {
        display: none;
    }
    
    #mepr-account-payments-table thead {
        border-bottom: 1px solid #ddd;
    }
    
    #mepr-account-payments-table thead th:not(.th_td-transaction),
    #mepr-account-payments-table tbody tr > td:not(.th_td-transaction) {
        text-align: center;
    }
    
    #mepr-account-payments-table tbody tr > td {
        padding: 15px 0 16px;
    }
    
    #mepr-account-payments-table .th_td-date {
        width: 171px;
    }
    
    #mepr-account-payments-table .th_td-amount {
        width: 160px;
    }
    
    #mepr-account-payments-table .th_td-invoice {
        width: 133px;
        padding-left: 57px;
        padding-right: 0;
    }
}


/* Subscription */
body[action="subscriptions"] h1.mepr_page_header {
    border: none;
}

#MeprAccount-SubscriptionTable {
    border: none;
    table-layout: auto;
    width: 100%;
}

#MeprAccount-SubscriptionTable thead {
    display: table-header-group !important;
}

#MeprAccount-SubscriptionTable thead th {
    padding: 20px 0 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    border: none;
    color: #252525;
}

#MeprAccount-SubscriptionTable tbody td {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    border: none;
    color: #252525;
}

#MeprAccount-SubscriptionTable td.th_td-status button {
    color: #252525;
    border: 1px solid #37A7F4;
    background: #fff;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.01em;
    height: 26px;
    line-height: 25px;
    padding: 0 15px;
}

#MeprAccount-SubscriptionTable tbody > tr:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

#MeprAccount-SubscriptionTable tbody > tr td {
    padding: 10px 10px 15px 0;
}

#MeprAccount-SubscriptionTable .mepr-pro-account-table__product,
#MeprAccount-SubscriptionTable .mepr-pro-account-table__created_at,
#MeprAccount-SubscriptionTable .mepr-pro-account-terms,
#MeprAccount-SubscriptionTable .mepr-pro-account-table__rebill,
#MeprAccount-SubscriptionTable .mepr-pro-account-table__subscription {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    margin-bottom: 10px;
    color: #252525;
}

#MeprAccount-SubscriptionTable ._showOnMobile > div:last-child,
#MeprAccount-SubscriptionTable ._showOnMobile .mepr-pro-account-table__rebill {
    margin-bottom: 0;
}

#MeprAccount-SubscriptionTable tbody tr.tr_action .td_action_inner {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}

#MeprAccount-SubscriptionTable tbody tr.tr_action .td_action_inner .mepr-account-row-action {
    min-width: 180px;
    width: 180px;
    height: 40px;
    border-radius: 10px;
    background-color: #37A7F4;
    border: 1px solid #37A7F4;
    color: #fff;
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 20px;
}

#MeprAccount-SubscriptionTable tbody tr.tr_action .td_action_inner .mepr-account-upgrade {
    order: -2;
}

#MeprAccount-SubscriptionTable tbody tr.tr_action .td_action_inner .mepr-account-cancel {
    order: -1;
    color: #37A7F4;
    background-color: #fff;
}

#MeprAccount-SubscriptionTable tbody tr.tr_action .td_action_inner .mepr-account-update {
    margin-bottom: 0;
}

@media only screen and (max-width: 999px) {
    #MeprAccount-SubscriptionTable {
        border-top: 1px solid #ddd;
    }
    
    #MeprAccount-SubscriptionTable .th_td-terms,
    #MeprAccount-SubscriptionTable .th_td-dates {
        display: none !important;
    }
    
    #MeprAccount-SubscriptionTable tbody tr > td:first-child {
        width: 100%;
    }
    
    #MeprAccount-SubscriptionTable tbody td.th_td-status {
        padding-top: 5px;
    }
}

@media only screen and (min-width: 1000px) {
    body.page-account[action="subscriptions"] #mepr-account-content {
        padding-top: 94px;
    }
    
    #MeprAccount-SubscriptionTable thead {
        border-bottom: 1px solid #ddd;
    }
    
    #MeprAccount-SubscriptionTable thead th,
    #MeprAccount-SubscriptionTable tbody td {
        font-size: 14px;
        line-height: 16px;
        vertical-align: middle;
    }
    
    #MeprAccount-SubscriptionTable thead th {
        padding: 15px 0 15px;
    }
    
    #MeprAccount-SubscriptionTable .th_td-terms {
        width: auto;
        min-width: 100px;
    }
    
    #MeprAccount-SubscriptionTable .th_td-status {
        width: auto;
        min-width: 60px;
    }
    
    #MeprAccount-SubscriptionTable .th_td-dates {
        width: auto;
        min-width: 155px;
    }
    
    #MeprAccount-SubscriptionTable tbody > tr td {
        padding-top: 18px;
        padding-bottom: 18px;
    }
    
    #MeprAccount-SubscriptionTable thead th:not(.th_td-membership),
    #MeprAccount-SubscriptionTable tbody td:not(.th_td-membership) {
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    #MeprAccount-SubscriptionTable ._showOnMobile {
        display: none;
    }
    
    #MeprAccount-SubscriptionTable .mepr-pro-account-table__product,
    #MeprAccount-SubscriptionTable .mepr-pro-account-table__created_at,
    #MeprAccount-SubscriptionTable .mepr-pro-account-terms,
    #MeprAccount-SubscriptionTable .mepr-pro-account-table__rebill,
    #MeprAccount-SubscriptionTable .mepr-pro-account-table__subscription {
        margin-bottom: 0;
        font-size: 14px;
        line-height: 16px;
    }
    
    #MeprAccount-SubscriptionTable td.th_td-status button {
        padding: 0 11px;
    }
    
    #MeprAccount-SubscriptionTable tbody td.th_td-dates > div:not(:last-child) {
        margin-bottom: 5px;
    }
    
    #MeprAccount-SubscriptionTable tbody td.th_td-dates > div.mepr-pro-account-table__rebill {
        margin-bottom: 0;
    }
    
    #MeprAccount-SubscriptionTable tbody tr.tr_action .td_action {
        display: table-cell;
        padding-top: 27px;
        padding-bottom: 27px;
        padding-left: 0;
        text-align: left;
    }
    
    #MeprAccount-SubscriptionTable tbody tr.tr_action .td_action_inner {
        max-width: 400px;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 0;
    }
    
    #MeprAccount-SubscriptionTable tbody tr.tr_action .td_action_inner .mepr-account-row-action {
        height: 36px;
        line-height: 36px;
        font-size: 14px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 1155px) {
    #MeprAccount-SubscriptionTable .th_td-terms {
        width: 180px;
    }
    
    #MeprAccount-SubscriptionTable .th_td-status {
        width: 170px;
    }
    
    #MeprAccount-SubscriptionTable .th_td-dates {
        width: 196px;
    }
}

/* Subscription - Popup Cancel Plan */
.mfp-bg.mfp-ready {
    background: #fff;
    opacity: 0.8;
}

.mfp-bg.mfp-ready ~ #main-container header#header {
    z-index: 9999;
}

.mfp-wrap.mfp-ready .mfp-content {
    box-shadow: 8px 8px 15px 0 #0000001A;
    max-width: 340px;
    background: #fff;
}

.mepr-white-popup {
    margin: 0 auto;
    padding: 97px 20px 85px;
}

.mf-toggle-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 999px) {
    .mfp-container {
        padding-left: 36px;
        padding-right: 36px;
    }
}

@media only screen and (min-width: 1000px) {
    .mfp-wrap.mfp-ready .mfp-content {
        max-width: 972px;
    }
    
    .mepr-white-popup {
        max-width: 100%;
        margin: 0 auto;
        padding: 93px 202px 92px;
    }
    
    .mf-toggle-close {
        width: 88px;
        height: 70px;
    }
}

/* Subscription - Cancel Plan */
.mepr-white-popup .mepr-cancel-sub-text {
    padding-bottom: 30px;
}

.mepr-white-popup .mepr-cancel-sub-text h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: center;
    margin: 0 0 20px;
}

.mepr-white-popup .mepr-cancel-sub-text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-align: center;
    padding: 0 40px;
    margin: 0;
}

.mepr-white-popup .mepr-cancel-sub-buttons {
    padding: 0 40px;
}

.mepr-white-popup .mepr-btn {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0;
    border-radius: 12px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    background: #37A7F4;
    border: 1px solid #37A7F4;
}

.mepr-white-popup .mepr-btn:hover {
    background: #37A7F4;
    text-decoration: none;
}

.mepr-white-popup .mepr-btn.mepr-upgrade-cancel,
.mepr-white-popup .mepr-btn.mepr-confirm-no {
    color: #37A7F4;
    background: #fff;
}

.mepr-white-popup .mepr-btn.mepr-upgrade-cancel:hover,
.mepr-white-popup .mepr-btn.mepr-confirm-no:hover {
    background: #fff;
}

@media only screen and (min-width: 1000px) {
    .mepr-white-popup .mepr-cancel-sub-buttons {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    
    .mepr-white-popup .mepr-btn {
        width: calc(50% - 10px);
        margin-bottom: 0;
    }
    
    .mepr-white-popup .mepr-cancel-sub-text h3 {
        font-size: 24px;
        line-height: 26px;
    }
    
    .mepr-white-popup .mepr-cancel-sub-text p {
        font-size: 18px;
        line-height: 26px;
    }
}

/* Subscription - update payment */
.mepr_update_account_table > div > strong {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.01em;
    font-weight: 600;
    padding-bottom: 30px;
    margin: 0;
}

@media only screen and (min-width: 1000px) {
    .mepr_update_account_table > div > strong {
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.01em;
        font-weight: 600;
        padding-bottom: 12px;
    }
    
}