/* Hero section */
.home-hero .wp-block-cover__inner-container > .wp-block-group > * {
    max-width: 680px;
}

.home-hero .wp-block-cover__inner-container > .wp-block-group .wp-block-heading.fw300 {
    font-weight: 300 !important;
}


/* Video section */
@media only screen and (min-width: 1000px) {
    .homeSectionVideo > .wp-block-heading {
        margin-bottom: 30px !important;
    }
    
    .homeSectionVideo > p {
        margin-bottom: 50px;
    }
}

/* Redefining life section */
.home-redefining, .home-redefining .wp-block-stackable-columns {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@media only screen and (min-width: 1000px) and (max-width: 1023px) {
    .home-redefining .stk-row {
        flex-wrap: wrap !important;
        justify-content: center !important;
    }
    
    .home-redefining ._leftCol .stk-block-heading {
        padding-left: 0 !important;
    }

}

@media only screen and (min-width: 1000px) {
    .home-redefining {
        max-width: 1000px !important;
        width: 100% !important;
    }
    
    .home-redefining .stk-row {
        justify-content: space-between !important;
    }
    
    .home-redefining h1 {
        font-size: 70px !important;
    }
    
    .home-redefining ._leftCol .stk-block-heading {
        width: 100%;
    }
    
}


/* Home - success stories */

.storySliderWrap .stk-block-carousel__slider .stk-inner-blocks {
    padding: 15px;
}

.storySliderWrap .stk-block-carousel__slider .wp-block-cover {
    box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.15);
}

.stk-block-carousel__dot {
    margin-inline: max(0px, (24px - var(--dot-size)) / 2) !important;
    width: var(--dot-active-width, 30px) !important;
    --dot-color: #abe1fa !important;
}

.stk-block-carousel__dot:before {
    height: var(--dot-active-height);
    width: var(--dot-active-width, 30px);
}

.stk-block-carousel__dot:hover:before {
    background: #37a7f4;
}

.stk-block-carousel__dot.stk-block-carousel__dot--active:before {
    background: #37a7f4;
    height: var(--dot-active-height);
    width: var(--dot-active-width, 30px);
}

.stk-block-carousel__button svg {
    width: 28px;
}

.stk-block-carousel__button {
    background: transparent !important;
}

@media only screen and (max-width: 999px) {
    .stk-block-carousel__dot,
    .stk-block-carousel__dot.stk-block-carousel__dot--active {
        margin-inline: 5px !important;
        width: 10px !important;
    }
    
    .stk-block-carousel__dot:before,
    .stk-block-carousel__dot.stk-block-carousel__dot--active:before {
        height: 10px !important;
        width: 10px !important;
    }
}

@media only screen and (min-width: 1000px) {
    .stk-block-carousel__dot,
    .stk-block-carousel__dot.stk-block-carousel__dot--active {
        width: 50px !important;
        margin-inline-start: 9px;
        margin-inline-end: 9px;
    }
    
    .stk-block-carousel__dot:before,
    .stk-block-carousel__dot.stk-block-carousel__dot--active:before {
        width: 50px !important;
        height: 6px !important;
    }
}

/* Home Product Slider */
.homeProductCoverImg {
    padding-bottom: 0;
}

.homeProductCoverImg .wp-block-cover__inner-container {
    margin-top: 20vw !important;
}

.homeProductCoverImg ._headingSection .wp-block-stackable-heading {
    margin-bottom: 20px;
}


.postSliderSection,
.postSliderSection.is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    width: 100% !important;
    max-width: 1350px !important;
}

.postSliderSection .stk-block-card__content {
    position: absolute;
    left: 0;
    right: 0;
    top: 61%;
    margin-left: auto;
    margin-right: auto;
}

.postSliderSection .stk-block-card__content * {
    color: #fff !important;
    text-align: center;
}


.postSliderSection .stk-block-card__content .wp-block-stackable-heading {
    margin-bottom: 6px !important;
}

.postSliderSection .stk-block-card__content .stk-block-subtitle__text {
    font-size: 16px !important;
}

@media only screen and (max-width: 689px) {
    .postSliderSection,
    .postSliderSection .wp-block-stackable-carousel {
        width: 100% !important;
    }
}

@media only screen and (min-width: 1000px) {
    .homeProductCoverImg {
        padding-bottom: 0;
    }
    
    .homeProductCoverImg .wp-block-cover__inner-container {
        margin-top: 12vw !important;
    }
    
    .postSliderSection {
        margin-top: -22vw;
    }
    
    .postSliderSection,
    .postSliderSection.is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
        max-width: 1440px !important;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .postSliderSection .stk-block-card__content {
        top: 52%;
    }
}


/* Accordion section */
.journey-group ._stepImg {
    display: none;
}

.journey-accordion {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.journey-accordion .stk-block-heading__text > span:first-child {
    margin-right: 60px;
}

.journey-group > .wp-block-buttons {
    margin-top: 0;
}

@media only screen and (max-width: 999px) {
    .journey-accordion .stk-block-heading__text br {
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
    .journey-group {
        max-width: 860px !important;
    }
    
    .journey-group > .wp-block-stackable-heading {
        padding: 0 40px;
    }
    
    .journey-group > p {
        padding: 0 90px;
        
    }
    
    .journey-group ._stepImg {
        display: block;
    }
    
    .journey-accordion {
        display: none;
    }
    
    .journey-group-desktop .wp-block-group > p:first-child {
        font-weight: 500 !important;
    }
    
}


/* home-GetYourQuote */
.home-GetYourQuote-wrap .wp-block-cover {
    min-height: 500px;
}

.home-GetYourQuote-wrap .l-fullwidth .wp-block-cover__inner-container {
    width: 100% !important;
}

.home-GetYourQuote-wrap ._w560 {
    max-width: 560px !important;
}