/* Hero section */
.home-hero .wp-block-cover__inner-container > .wp-block-group > * {
    max-width: 680px;
}

.home-hero .wp-block-cover__inner-container > .wp-block-group .wp-block-heading.fw300 {
    font-weight: 300 !important;
}

@media only screen and (max-width: 689px) {
    .home-hero .stk-block-button .stk-button {
        padding-left: 34px !important;
        padding-right: 34px !important;
    }
}

/* Hero section - video */
.home-hero-video .wp-block-cover {
    width: 100% !important;
    max-width: 100% !important;
    height: 134.46vw !important;
    padding: 0 !important;
}

.home-hero-video .wp-block-cover .stk-block-heading {
    max-width: 380px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

@media only screen and (min-width: 690px) {
    .home-hero-video .wp-block-cover {
        height: 48.61vw !important;
    }
    
    .home-hero-video .wp-block-cover .stk-block-heading,
    .home-hero-video .wp-block-cover .stk-block-text {
        max-width: 720px !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    
    .home-hero-video .wp-block-cover .stk-block-text__text br:not(:last-child) {
        display: none;
    }
}


/* Video section */
@media only screen and (min-width: 1000px) {
    .homeSectionVideo > .wp-block-heading {
        margin-bottom: 30px !important;
    }
    
    .homeSectionVideo > p {
        margin-bottom: 50px;
    }
}

/* Redefining life section */
.home-redefining, .home-redefining .wp-block-stackable-columns {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@media only screen and (min-width: 1000px) and (max-width: 1023px) {
    .home-redefining {
        max-width: 1000px !important;
        width: 100% !important;
    }
    
    .home-redefining .stk-row {
        max-width: 100% !important;
        justify-content: space-between !important;
    }
    
    .home-redefining ._leftCol .stk-block-heading {
        padding-left: 0 !important;
        width: 100%;
    }
    
    .home-redefining #with-technology {
        padding-left: 84px !important;
    }
}

@media only screen and (min-width: 1024px) {
    .home-redefining {
        max-width: 1000px !important;
        width: 100% !important;
    }
    
    .home-redefining .stk-row {
        justify-content: space-between !important;
    }
    
    .home-redefining ._leftCol .stk-block-heading {
        width: 100%;
    }
}


/* Home - success stories */
.storySliderWrap .stk-block-carousel__slider .stk-inner-blocks {
    padding: 15px;
}

.storySliderWrap .stk-block-carousel__slider .wp-block-cover {
    box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 999px) {
    ._homeSuccessSubTxt br {
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
    .storySliderWrap .wp-block-stackable-carousel {
        width: 100% !important;
    }
}


/* Home Product Slider */
.gradientWrap {
    position: relative;
    padding-top: 55px;
}

.homeGradientBg {
    position: absolute;
    top: 0;
    left: -25vw;
    width: 150vw;
    height: 338px;
    background: linear-gradient(180deg, rgba(55, 167, 244, 0.08) 0%, rgba(211, 244, 11, 0.47) 100%);
    transform: rotate(-5deg);
}

@media only screen and (min-width: 690px) {
    .home-productSlider {
        padding-left: 45px !important;
        padding-right: 45px !important;
    }
}

@media only screen and (min-width: 1000px) {
    .gradientWrap {
        padding-top: 90px;
    }
    
    .homeGradientBg {
        height: 470px;
    }
}

/* Archive BEP */
.home-achieveBEP_section {

}

.home-achieveBEP_section > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    width: 100% !important;
}

.home-achieveBEP_section ._tit {
    margin-bottom: 10px !important;
}

.home-achieveBEP_section ._tit .stk-block-heading__text {
    font-weight: 600 !important;
    font-size: 50px !important;
    line-height: 48px !important;
    margin-bottom: 0 !important;
    text-align: center;
    background-image: linear-gradient(90deg, #37A7F4 2.71%, #D3F40B 100%) !important;
    -webkit-text-fill-color: #0000;
    background-clip: text;
    -webkit-background-clip: text;
}

.home-achieveBEP_section ._subTit .stk-block-heading__text {
    font-weight: 600 !important;
    font-size: 50px !important;
    line-height: 48px !important;
    margin-bottom: 50px !important;
    text-align: center;
}

.home-achieveBEP_section .home-BEP_line {
    gap: 0;
    margin-top: 80px !important;
    margin-bottom: 0 !important;
}

.home-achieveBEP_section ._subTit + .home-BEP_line {
    margin-top: 0 !important;
}

.home-BEP_line ._name {
    margin-bottom: 50px !important;
}

.home-BEP_line ._name .stk-block-heading {
    margin-bottom: 20px !important;
}

.home-BEP_line ._name .stk-block-heading__text {
    font-size: 30px !important;
    font-weight: 600 !important;
    line-height: 34px !important;
    letter-spacing: 0.01em !important;
    text-align: center;
}

.home-BEP_line ._name .stk-img-wrapper {
    height: auto !important;
}

.home-BEP_line ._name .stk-img {
    width: auto !important;
    height: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.home-BEP_line ._avgRate {
    margin-bottom: 30px !important;
}

.home-BEP_line ._avgRate .stk-block-text:first-child {
    margin-bottom: 0 !important;
}

.home-BEP_line ._avgRate .stk-block-text:first-child .stk-block-text__text {
    font-size: 30px !important;
    font-weight: 600 !important;
    line-height: 34px !important;
    letter-spacing: 0.01em !important;
    text-align: center;
    margin-bottom: 0 !important;
}

.home-BEP_line ._avgRate .stk-block-text:first-child .stk-block-text__text strong {
    font-size: 36px !important;
    font-weight: 600 !important;
    line-height: 42px !important;
    letter-spacing: 0 !important;
    text-align: center;
}

.home-BEP_line ._avgRate .stk-block-text:last-child .stk-block-text__text {
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    letter-spacing: 0.01em !important;
    text-align: center;
    margin-bottom: 0 !important;
}

.home-BEP_line ._arrow {
    margin-bottom: 30px !important;
}

.home-BEP_line ._arrow .stk-block-image {
    margin-bottom: 0 !important;
}

.home-BEP_line ._arrow .stk-img {
    margin-bottom: 0 !important;
    width: auto !important;
    height: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.home-BEP_line ._arrow .stk-block-image:last-child {
    display: none;
}

.home-BEP_line ._result {
    margin-bottom: 0 !important;
}

.home-BEP_line ._result .stk-block-text__text {
    font-size: 30px !important;
    font-weight: 600 !important;
    line-height: 34px !important;
    letter-spacing: 0.01em !important;
    text-align: center;
}

.home-BEP_line ._result .stk-block-text__text strong {
    font-size: 50px !important;
    font-weight: 600 !important;
    line-height: 50px !important;
    letter-spacing: 0 !important;
    text-align: center;
}

.home-BEP_line ._result._gradient .stk-block-text__text strong {
    background: linear-gradient(90deg, #37A7F4 0%, #D2F538 100%);
    -webkit-text-fill-color: #0000;
    background-clip: text;
    -webkit-background-clip: text;
}

.home-achieveBEP_section ._slogan {
    margin-top: 45px !important;
    margin-bottom: 45px !important;
}

.home-achieveBEP_section ._slogan .stk-block-text__text {
    font-size: 30px !important;
    font-weight: 600 !important;
    line-height: 34px !important;
    letter-spacing: 0.01em !important;
    text-align: center;
    background: linear-gradient(90deg, #37A7F4 19.33%, #D2F538 122.12%);
    -webkit-text-fill-color: #0000;
    background-clip: text;
    -webkit-background-clip: text;
}

.home-achieveBEP_section ._button {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}


@media only screen and (min-width: 768px) {
    /* layout */
    .home-achieveBEP_section .home-BEP_line {
        display: flex !important;
        flex-wrap: nowrap !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: center !important;
        width: 100%;
        max-width: 850px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .home-BEP_line ._arrow .stk-block-image:last-child {
        display: block;
    }
    
    .home-BEP_line ._arrow .stk-block-image:first-child {
        display: none;
    }
    
    .home-BEP_line ._name {
        flex: 1 1 auto !important;
    }
    
    .home-BEP_line ._name, .home-BEP_line ._avgRate,
    .home-BEP_line ._arrow, .home-BEP_line ._result {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }
    
    .home-BEP_line ._avgRate {
        flex: 0 0 185px !important;
        margin-left: 20px;
    }
    
    .home-BEP_line ._arrow {
        flex: 0 0 121px !important;
        margin: 0 30px !important;
    }
    
    .home-BEP_line ._result {
        flex: 0 0 220px !important;
    }
    
    /* Fonts - space */
    .home-achieveBEP_section ._tit .stk-block-heading__text {
        font-size: 70px !important;
        line-height: 60px !important;
    }
    
    .home-achieveBEP_section ._subTit .stk-block-heading__text {
        font-size: 52px !important;
        line-height: 56px !important;
    }
}

@media only screen and (min-width: 1024px) {
    /* layout 2 column */
    .home-achieveBEP_section .home-BEP_line {
        display: flex !important;
        flex-wrap: nowrap !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: center !important;
        width: 100%;
        max-width: 1060px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .home-BEP_line ._arrow .stk-block-image:last-child {
        display: block;
    }
    
    .home-BEP_line ._arrow .stk-block-image:first-child {
        display: none;
    }
    
    .home-BEP_line ._name {
        flex: 1 1 auto !important;
    }
    
    .home-BEP_line ._name, .home-BEP_line ._avgRate,
    .home-BEP_line ._arrow, .home-BEP_line ._result {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }
    
    .home-BEP_line ._avgRate {
        flex: 0 0 245px !important;
        margin-left: 50px;
    }
    
    .home-BEP_line ._arrow {
        flex: 0 0 121px !important;
        margin: 0 30px !important;
    }
    
    .home-BEP_line ._result {
        flex: 0 0 310px !important;
    }
    
    /* Fonts - space */
    .home-achieveBEP_section .home-BEP_line {
        margin-top: 100px !important;
    }
    
    .home-achieveBEP_section ._tit .stk-block-heading__text {
        font-size: 70px !important;
        line-height: 60px !important;
    }
    
    .home-achieveBEP_section ._subTit .stk-block-heading__text {
        font-size: 52px !important;
        line-height: 56px !important;
        margin-bottom: 50px !important;
    }
    
    .home-BEP_line ._name .stk-block-heading__text {
        font-size: 36px !important;
        line-height: 42px !important;
        letter-spacing: 0.01em !important;
    }
    
    .home-BEP_line ._avgRate .stk-block-text:first-child {
        margin-bottom: 10px !important;
    }
    
    .home-BEP_line ._avgRate .stk-block-text:first-child .stk-block-text__text {
        font-size: 36px !important;
        line-height: 42px !important;
        letter-spacing: 0.01em !important;
    }
    
    .home-BEP_line ._avgRate .stk-block-text:first-child .stk-block-text__text strong {
        font-size: 46px !important;
        line-height: 50px !important;
        letter-spacing: 0 !important;
    }
    
    .home-BEP_line ._avgRate .stk-block-text:last-child .stk-block-text__text {
        font-size: 18px !important;
        font-weight: 400 !important;
        line-height: 26px !important;
        letter-spacing: 0.01em !important;
        text-align: center;
        margin-bottom: 0 !important;
    }
    
    .home-BEP_line ._result .stk-block-text__text {
        font-size: 36px !important;
        font-weight: 600 !important;
        line-height: 42px !important;
        letter-spacing: 0.01em !important;
        text-align: center;
    }
    
    .home-BEP_line ._result .stk-block-text__text strong {
        font-size: 60px !important;
        font-weight: 600 !important;
        line-height: 60px !important;
        letter-spacing: 0 !important;
        text-align: center;
    }
    
    .home-BEP_line ._result._gradient .stk-block-text__text strong {
        font-size: 70px !important;
        
    }
    
    .home-achieveBEP_section ._slogan {
        margin-top: 30px !important;
        margin-bottom: 100px !important;
    }
    
    .home-achieveBEP_section ._slogan .stk-block-text__text {
        font-size: 36px !important;
        font-weight: 600 !important;
        line-height: 42px !important;
        letter-spacing: 0.01em !important;
        text-align: center;
    }
    
    .home-achieveBEP_section ._slogan .stk-block-text__text br {
        display: none;
    }
    
}

/* Accordion section */
.journey-group > .stk-block-text .stk-block-text__text {
    font-size: 16px !important;
    line-height: 20px !important;
    font-weight: 400 !important;
    letter-spacing: 0.01em !important;
}

.journey-group ._stepImg {
    display: none;
    margin-bottom: 2px !important;
}

.journey-accordion {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.journey-accordion .stk-block-heading__text > span:first-child {
    margin-right: 60px;
}

.journey-group > .wp-block-buttons {
    margin-top: 0;
}

@media only screen and (max-width: 999px) {
    .journey-accordion .stk-block-heading__text br {
        display: none;
    }
}

@media only screen and (max-width: 689px) {
    .journey-group > .stk-block-heading {
        max-width: 292px;
    }
    
    .journey-group > .stk-block-text {
        max-width: 354px !important;
    }
}

@media only screen and (min-width: 690px) {
    .journey-group > .stk-block-heading {
        max-width: 690px !important;
    }
    
    .journey-group > .stk-block-text {
        max-width: 664px !important;
    }
    
    .journey-group > .stk-block-heading .stk-block-heading__text {
        font-size: 52px !important;
        line-height: 56px !important;
        font-weight: 600 !important;
        letter-spacing: 0 !important;
    }
    
    .journey-group > .stk-block-text .stk-block-text__text {
        font-size: 18px !important;
        line-height: 26px !important;
        font-weight: 400 !important;
        letter-spacing: 0.01em !important;
    }
}

@media only screen and (min-width: 1000px) {
    .journey-group {
        max-width: 860px !important;
    }
    
    .journey-group ._stepImg {
        display: block;
    }
    
    .journey-accordion {
        display: none;
    }
    
    .journey-group-desktop .wp-block-group > p:first-child {
        font-weight: 500 !important;
    }
    
}


/* home-GetYourQuote */
.home-GetYourQuote-wrap .wp-block-cover {
    min-height: 500px;
}

.home-GetYourQuote-wrap .l-fullwidth .wp-block-cover__inner-container {
    width: 100% !important;
}

.home-GetYourQuote-wrap ._w560 {
    max-width: 560px !important;
}