.h1, .s70 {
    font-size: 50px;
    font-weight: 600;
    line-height: 48px;
}

.h2, .s52 {
    font-size: 40px;
    font-weight: 600;
    line-height: 42px;
}

.s18 {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.s14 {
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
}

@media only screen and (min-width: 1000px) {
    .h1, .s70 {
        font-size: 70px;
    }
    
    .h2, .s52 {
        font-size: 52px;
        line-height: 56px;
    }
    
    .s18 {
        font-size: 18px;
        line-height: 26px;
    }
    
    .s14 {
        font-size: 14px;
        line-height: 16px;
    }
}


.fw100 {
    font-weight: 100 !important;
}

.fw200 {
    font-weight: 200 !important;
}

.fw300, .fwlight {
    font-weight: 300 !important;
}

.fw400, .fwregular {
    font-weight: 400 !important;
}

.fw500, .fwmedium {
    font-weight: 500 !important;
}

.fw600, .fwsemibold {
    font-weight: 600 !important;
}

.fw700, .fwbold {
    font-weight: 700 !important;
}

.fw800 {
    font-weight: 800 !important;
}

.fw900 {
    font-weight: 900 !important;
}

.gradient-text, .gradient-text  > * {
    background: linear-gradient(90deg, #37A7F4 2.71%, #D3F40B 100%);
    background-clip: text;
    color: transparent;
}