.h1, .s70 {
    font-family: "ProximaNova", sans-serif;
    font-size: 56px;
    font-weight: 600;
    line-height: 1.08;
    letter-spacing: 0.01em;
}

.h2 {
    font-family: "ProximaNova", sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0.01em;
}

.h3 {
    font-family: "ProximaNova", sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0.01em;
}

.h4 {
    font-family: "ProximaNova", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.01em;
}

.h5 {
    font-family: "ProximaNova", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.01em;
}

.h6, .s16 {
    font-family: "ProximaNova", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.01em;
}

.s18 {
    font-family: "ProximaNova", sans-serif;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.01em;
}

.s14 {
    font-family: "ProximaNova", sans-serif;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.01em;
}

.s12 {
    font-family: "ProximaNova", sans-serif;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.01em;
}

.fw100 {
    font-weight: 100 !important;
}

.fw200 {
    font-weight: 200 !important;
}

.fw300, .fwlight {
    font-weight: 300 !important;
}

.fw400, .fwregular {
    font-weight: 400 !important;
}

.fw500, .fwmedium {
    font-weight: 500 !important;
}

.fw600, .fwsemibold {
    font-weight: 600 !important;
}

.fw700, .fwbold {
    font-weight: 700 !important;
}

.fw800 {
    font-weight: 800 !important;
}

.fw900 {
    font-weight: 900 !important;
}


@media only screen and (min-width: 690px) {
    .h1, .s70 {
        font-size: 63px;
    }
    
    .h2 {
        font-size: 46px;
        line-height: 49px;
    }
    
    .h3 {
        font-size: 34px;
    }
    
    .h4 {
        font-size: 22px;
    }
    
    .h5 {
        font-size: 19px;
        line-height: 1.4;
    }
    
    .h6, .s16 {
        font-size: 15px;
    }
    
    .s18 {
        font-size: 17px;
        line-height: 1.3;
    }
    
    .s14 {
        font-size: 13px;
    }
}

@media only screen and (min-width: 1000px) {
    .h1, .s70 {
        font-size: 70px;
        line-height: 1.08;
    }
    
    .h2 {
        font-size: 52px;
        line-height: 56px;
    }
    
    .h3 {
        font-size: 38px;
        line-height: 1.25;
    }
    
    .h4 {
        font-size: 24px;
        line-height: 1.4;
    }
    
    .h5 {
        font-size: 20px;
        line-height: 1.4;
    }
    
    .s18 {
        font-size: 18px;
        line-height: 26px;
    }
    
    .h6, .s16 {
        font-size: 16px;
        line-height: 1.25;
    }
    
    .s14 {
        font-size: 14px;
        line-height: 1.25;
    }
}

.gradient-text {
    background: linear-gradient(to right, #37A7F4 0%, #D3F40B 100%);
    background-clip: text;
    color: transparent;
}